{%- import '_macros/atomic' as atoms -%}

<div class="container bg-amber-100 flex flex-wrap p-10">


      <div class="mb-10 flex flex-wrap w-6/12 gap-8 text-lg">


        {# {{ entry.HomeContent }} #}
    <div>
        {{ entry.longformContent }}

        {# <div class="">
            {{- atoms.atom('image', 'hero',  {
                image: entry.imageHero.eagerly().collect.first,
                sizes: '30vw',
                placeholder: 'silhouette',
                loadingStrategy: 'eager',
                utilities: ''
            }) -}}
        </div> #}
    </div>
    </div>

<div class="grid md:grid-cols-2 lg:grid-cols-2 gap-4 max-w-screen-xl ">


{% for block in entry.contentBuilder.all() %}
  {% switch block.type %}

    {% case "cta" %}
      {{ block.render() }}

     {% case "richText" %}
      {{ block.render() }}

    {% case "images" %}
      {{ block.render() }}

    {% case "featureList" %}
      {{ block.render({ loop, themeColor: "lightblue" }) }}

    {% case "relatedEntries" %}
     {{ block.render() }}

    {% case "table" %}
      {{ block.render() }}

    {% default %}


  {% endswitch %}

{% endfor %}


</div>


