
{%- import '_macros/atomic' as atoms -%}

{# Is this the right place? #}
{% block headLinks %}
    {% set image = entry.imageContent.collect.first %}
    {{ image.imageContentOptimized.linkPreloadTag().render() }}
{% endblock headLinks %}


{#  how to style headings? #}

<div class="container flex flex-col items-center bg-cyan-100">

<h1 class="h1-lg">{{ entry.title }}</h1>

{% for block in entry.contentBuilder.all() %}
  {% switch block.type %}

    {% case "cta" %}
      {{ block.render() }}

    {% case "images" %}
      {{ block.render() }}

    {% case "featureList" %}
      {{ block.render({ loop, themeColor: "lightblue" }) }}

    {% case "relatedEntries" %}
     {{ block.render() }}

    {% case "table" %}
      {{ block.render() }}

    {% default %}


  {% endswitch %}

{% endfor %}
</div>

  {# <div class="">
  {%- include '_organisms/grids/grid--blog' with {
      cards: craft.entries.section('blog').eagerly().collect.all(),
  } -%}
  </div> #}